/* Header styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    background-color: #333;
    /* padding: 16px 0; */
    /* position: fixed; */
    /* top: 0; */
    padding: .5rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Lobster', cursive;
    /* font-size: 48px; */
    color: rgb(234, 216, 216);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(20, 15, 15, 0.3);
    display: inline-block;
    padding: 10px 20px;
    /* background: linear-gradient(135deg, #f5f5f5, #ccc); */
    border: 2px solid #281e1e;
    border-radius: 10px;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    margin: 0 8px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #007BFF;
}
@media (max-width: 600px) {
    input[type="text"] {
        width: 100%;
        max-width: 320px;
    }
    .navbar{
        display: none;
    }
}