
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #040404;
    color: #ffffff; /* Text color for better visibility on dark background */
}

#con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#con img {
    width: 100%;
    height: 250px; /* Set a fixed height for consistency */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

#con a {
    text-decoration: none;
}

#con img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-container {
    text-align: center;
    margin: 20px auto;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
}

.search-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container input[type="submit"]:hover {
    background-color: #45a049;
}
